<% @message ||= Message.new %>
<%= form_for @message, :url => contact_path do |form| %>
  <fieldset class="fields">
     <div class="field widthLimit">
        <%= form.label "Name:" %>
        <%= form.text_field :name %>
     </div>

     <div class="field widthLimit">
        <%= form.label "Email: " %>
        <%= form.text_field :email, :required => true %>
     </div>

     <div class="field widthLimit">
        <%= form.label "Message:" %>
        <%= form.text_area :content, :size =>"45x7" %>
     </div>
  </fieldset>

  <fieldset class="actions widthLimit">
     <%= form.submit "Send", :id => "submit" %>
  </fieldset>
  <% end %>